<ion-header>
  <ion-toolbar color="danger">
    <ion-title color="light">
      QR Scanner - Paul Bernasconi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Affichage des scans de qrCodes -->
  <div class="ion-padding">
    <h2>Messages scanés :</h2>
    <div *ngFor="let qrCode of qrScanner.qrCodeScanned">
      <p>
        <b style="color: #d9534f;">Message: </b>{{ qrCode.message }}
      </p>
      <p>
        <b style="color: #d9534f;">Date: </b>{{ qrCode.date }}
      </p>
      <ion-item-divider class="danger"></ion-item-divider>
    </div>
  </div>

  <!-- Boutton de scan -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="qrScan()">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
